body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.coverflow-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  max-width: 900px;
}

.scrollbar {
  position: absolute;
  margin-bottom: 30px;
  top: 30; /* 스크롤바 위치 */
  left: 0;
  width: 100%;
  height: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 20%; /* 포스터 수에 따라 초기 너비 조정 */
  /* background: #87CEEB;  스크롤바 단일 색상 */
  background: linear-gradient(90deg, #FFD700, #87CEEB); /* 색상 그라데이션 */
  transition: background-color 0.3s ease-in-out; /* 부드러운 전환 효과 */
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*그림자 효과*/
}

.coverflow {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.poster {
  flex: 0 0 200px;
  transform: scale(0.8);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.5;
}

.poster.active {
  transform: scale(1);
  opacity: 1;
}

.poster img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}